@import "~bootstrap/scss/bootstrap";

:root {
    --primary-color: #3fa535;
    --secondary-color: #ffffff;
}
.subcategory-img {
    border: 5px solid #3fa535 !important;
}

body {
    padding: 0;
    margin: 0;
    background: #f0f0f0;
}
.home {
    .inner-page-hero {
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 7.5%;
        padding-bottom: 7.5%;
        @media (max-width: 768px) {
            padding-top: 12%;
            padding-bottom: 12%;
        }
    }
    .menuheader {
        padding: 0;
        margin-bottom: 1rem;
        background-color: #fff;
        .logo-container {
            width: 130px;
            height: 130px;
            position: absolute;
            border-radius: 0.25em;
            background: #fff;
            padding: 0.3em;
            transform: translate(0, -80%);
            padding: 0.3em;
            box-shadow: 0px 5px 20px -10px rgb(0 0 0 / 50%);
            @media (max-width: 768px) {
                display: none;
            }
            .logoimage {
                width: 100%;
            }
        }
        .menubar {
            font-size: 0.9rem;
            text-align: center;
            background: #fff;
            padding: 0.6em 0 0.6rem 0;
            .rest-address {
                padding: 0.5rem 0rem 0.5rem 0rem;
            }
        }
    }
    #plce_div_menu {
        .menusection {
            padding-left: 0 !important;
            padding-right: 0 !important;
            @media (max-width: 992px) {
                margin-bottom: 10vh;
            }
        }
        .menu_tab {
            display: flex;
            background: #fff;
            font-size: 1.2rem;
            margin-right: 0;
            margin-left: 0;
            border-bottom: 1px solid #d8d8d8;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            &_button {
                margin: 0;
                padding: 1rem;
                font-size: 1rem;
                color: #999;
                @media (max-width: 768px) {
                    padding: 0.5rem;
                    font-size: 0.9rem;
                    text-align: center;
                }
            }
            #tabMenu1 {
                color: #999;
                transition: color 0.3s ease;
                &.active-tab {
                    color: black;
                }
                &:hover {
                    color: #3fa535;
                    cursor: pointer;
                }
            }
        }
        .dishsection {
            margin-left: 0;
            margin-right: 0;
            .tab_left_sidebar {
                background: #fff;
                margin-right: 0 !important;
                padding: 10px 10px 10px 10px;
                box-sizing: border-box;
                overflow: hidden;
                .menucontrol {
                    position: relative;
                    .menu-item-name {
                        padding: 0.6em 0.8em;
                        cursor: pointer;
                        text-decoration: none;
                        list-style: none;
                        color: #303030;
                        font-size: 0.85rem;
                        .menu-item-text {
                            color: #999;
                        }
                        &.active {
                            border-left-color: #3fa535;
                            border-left-width: 2px;
                            border-left-style: solid;
                        }
                        &:hover {
                            * {
                                color: #3fa535;
                            }
                        }
                    }
                }
            }
            .center_hdarea {
                background: #fff;
                border-bottom: 3px solid #303030;
                z-index: 1;
                display: flex;
                .center_dv_header {
                    width: 100%;
                    margin: 0px 0px 0px 0px;
                    box-sizing: border-box;
                    padding: 0 10px;
                    .sticky_filter {
                        width: 100%;
                        height: 46px;
                        border: none;
                        text-indent: 1px;
                        color: #939393;
                        font-size: 15px;
                        padding-left: 5px;
                        &:focus {
                            outline: 0;
                        }
                    }
                }
            }
        }
        .menusection {
            .hidden-sm-up {
                display: none;
                @media (max-width: 992px) {
                    display: block;
                }
            }
            #dishesresults {
                .categorylistblock {
                    .category-img {
                        height: 200px;
                        img {
                            object-fit: cover;
                        }
                    }
                    .business-cat-c {
                        background-color: #3fa535;
                    }
                    .categoryblock {
                        display: block !important;
                        padding: 0.5rem;
                        color: #fff;
                        .food-category,
                        .catdescription {
                            color: (var(--secondary-color));
                        }
                        .food-category {
                            font-size: 1.154rem;
                            font-weight: 400;
                            margin-bottom: 0;
                        }
                        .catdescription {
                            margin-top: 0;
                            font-size: 0.847rem;
                        }
                    }
                }
                .menulist {
                    .item_dv {
                        background: #fff;
                        display: flex;
                        align-items: center;
                        padding: 0.6em 0em 0.6em 0em;
                        border-bottom: 1px solid #d8d8d8;
                        min-height: 60px;
                        .price_dv {
                            padding: 0 0.75rem 0 0.25rem;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                        .item-price {
                            white-space: nowrap;
                            font-size: 0.9rem;
                        }
                        .food-item-name {
                            white-space: pre-wrap;
                            word-break: break-word;
                            word-wrap: break-word;
                            overflow-wrap: break-word;
                            line-height: 1.25;
                            margin-bottom: 0.25rem;
                            font-size: 1rem;
                            box-sizing: border-box;
                            font-weight: 400;
                            color: #303030;
                            .menu-item__name__extra {
                                padding: 0.1rem;
                                color: #999;
                                font-size: 0.7rem;
                            }
                            sup {
                                top: -0.5em;
                            }
                            .item-description {
                                color: #999;
                                font-size: 0.847rem;
                                line-height: 1.5;
                            }
                        }
                        .item-description {
                            color: #999;
                            font-size: 0.847rem;
                            line-height: 1.5;
                        }
                        .business-price-c {
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                            color: var(--secondary-color);
                            border-radius: 0.1rem;
                            margin-right: 5px;
                            width: 20px;
                            height: 20px;
                            padding: 0;
                            line-height: 0;
                            font-size: 0.9rem;
                        }
                        &:hover {
                            background: #f5f5f6;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .info_dv {
            padding: 1rem;
            margin: 0 auto;
            box-sizing: border-box;
            background-color: #fff;
            .info-address {
                font-size: 1rem;
            }
        }
        .tab_right_sidebar {
            padding-right: 0;
            .cart-wrap {
                background: #fff;
                padding: 0rem 1rem 1rem 1rem;
                border-radius: 5px;
                &.collapse {
                    @media (max-width: 992px) {
                        display: block;
                        max-height: 75vh;
                        overflow-y: scroll;
                    }
                }
                .price-tbl {
                    font-size: 0.8rem;
                    tr {
                        td {
                            padding: 10px 0;
                            color: #303030;
                            .cart-count-btn {
                                width: 20px !important;
                                height: 20px;
                                padding: 0 !important;
                                line-height: 0 !important;
                                margin: 0 0.25rem 0 0rem;
                            }
                        }
                    }
                    tr:last-child td {
                        border-bottom: 0px solid #e5e5e5;
                    }
                }
                .cart_details {
                    * {
                        font-size: 0.8rem;
                    }
                    .price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .date {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
            .sectionheader {
                background: #fff;
                border-bottom: 1px solid #d8d8d8;
                padding: 1rem 0rem 1rem 0rem;
                font-size: 1.2rem;
                margin-bottom: 1rem;
                .deliveryoption {
                    font-size: 1rem;
                    display: flex;
                    justify-content: space-between;
                    .cartback {
                        color: #17a2b8;
                        cursor: pointer;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.btn-success,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #3fa535;
    border-color: #3fa535;
}

.accordion {
    width: 100%;
    &__heading {
        width: 100%;
        user-select: none;
        font-size: 0.9rem;
        background-color: #f8f8f8;
        font-weight: 500;
        line-height: 1.1;
        cursor: pointer;
    }
    &__button {
        padding: 10px !important;
        position: relative;
        &::before {
            position: absolute;
            right: 12px;
        }
    }
    &__panel {
        padding: 5px !important;
        .form-check {
            display: flex;
            justify-content: space-between;
            .price {
                font-size: 0.9rem;
            }
        }
    }
}

.quantity {
    box-shadow: inset 0px 0px 1px #999;
    text-align: center;
    padding: 0.3rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    margin: 0.25rem;
}

.extracount {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);
    padding: 0;
    width: 25px;
    height: 25px;
    &:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-color: var(--primary-color);
    }
}

.btn-sm {
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-success {
    background-color: #8cc04d;
    border-color: #8cc04d;
}

.addCart {
    border-radius: 0;
    padding: 1rem;
}

.modalFirst {
    background: #000000ed;
}

.sectionbody {
    background: #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 15px;
    border-radius: 5px;
    .sectionheader {
        background: #fff;
        border-bottom: 1px solid #d8d8d8;
        padding: 1rem 0rem 1rem 0rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

.cartsum {
    background: #f0f0f0;
    padding: 0.5rem;
}

.cartback {
    color: #17a2b8;
    cursor: pointer;
    font-size: 1rem;
}

.pdct_op {
    list-style: none;
    margin: 0;
    padding: 0;
    h4 {
        font-size: 0.75rem;
        color: #303030;
        text-transform: none;
        font-weight: 400;
        margin: 0;
    }
    li {
        font-size: 0.65rem;
        color: #83828a;
        padding-left: 0px;
        line-height: 0.75rem;
        font-weight: 400;
        text-transform: none;
    }
}
.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    z-index: 1020;
    padding: 0.75rem 0.5rem;
    background: #f0f0f0;
    #mobileCart {
        display: inline-block;
    }
    #mobileCartSum {
        float: right;
    }
}

@media only screen and (max-width: 992px) {
    .mobilefix {
        position: fixed !important;
        bottom: 10%;
        width: 100%;
        z-index: 1000;
        padding: 0 !important;
    }
}

#mbcartgrey {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, .8);
    text-align: center;
}
